@model EditProjectForm

<div id="editProjectModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Edit project</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <div class="image-container">
            <img src="~/images/Project-icon.svg" alt="project-icon" />
        </div>

        <form novalidate method="post" asp-action="EditProject" asp-controller="Projects">
            <input asp-for="Id" type="hidden" />

            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>

            <div class="form-group">
                <label>Client</label>
                <div class="field-group">
                    <input type="text" value="@Model.ClientId" class="form-control"/>
                    <input type="hidden" asp-for="ClientId" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <textarea asp-for="Description" placeholder="Type something"></textarea>
                    <span asp-validation-for="Description"></span>

                    <div class="toolbar">
                        <i class="fa-solid fa-b"></i>
                        <i class="fa-solid fa-italic"></i>
                        <i class="fa-solid fa-underline"></i>
                        <i class="fa-solid fa-align-left"></i>
                        <i class="fa-solid fa-align-center"></i>
                        <i class="fa-solid fa-align-right"></i>
                        <i class="fa-solid fa-list"></i>
                        <i class="fa-solid fa-list-ol"></i>
                        <i class="fa-solid fa-link"></i>
                    </div>
                </div>
            </div>

            <div class="form-horizontal-group">
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <div class="field-group">
                        <input asp-for="StartDate" />
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate"></label>
                    <div class="field-group">
                        <input asp-for="EndDate" />
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Budget"></label>
                <div class="field-group" style="position: relative;">
                    <i class="fa-solid fa-dollar-sign" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);"></i>
                    <input asp-for="Budget" style="padding-left: 25px;" />
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StatusId"></label>
                <div class="field-group">
                    <select asp-for="StatusId" class="form-control">


                        <option value="">-- Välj status --</option>

                        @foreach (var status in Model.Statuses)
                        {
                            <option value="@status.Id">@status.StatusName</option>
                        }


                    </select>
                    <span asp-validation-for="StatusId"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-submit btn-blue">Update</button>
        </form>
    </div>
</div>
