<div class="user" id="account-container">
    <a class="user-setting" href="@Url.Content("~/")">
        <img src="~/images/Setting.svg" alt="Setting Portal">
    </a>
    <div class="divider"></div>
    <button type="button" class="user-avatar" data-type="dropdown" data-target="#account-dropdown">
        <img src="~/images/Avatar-icon.svg" alt="Avatar Portal">
    </button>


    <div class="dropdown" id="account-dropdown">
        <div class="dropdown-header">
            <div class="account-name">
                <img src="~/images/Avatar-icon.svg" alt="Avatar Portal">
                <span>Emeli</span>
            </div>
        </div>
        <div class="dropdown-body">
            <nav class="nav-links">
                <a class="nav-link" href="#">
                    <i class="fa-duotone fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </nav>
        </div>
    </div>
</div>

