<div class="user" id="account-container">
    <a class="user-setting" href="@Url.Content("~/")">
        <img src="~/images/Setting.svg" alt="Setting Portal">
    </a>
    <div class="divider"></div>
    <button type="button" class="user-avatar" data-type="dropdown" data-target="#account-dropdown">
        <img src="~/images/Avatar-icon.svg" alt="Avatar Portal">
    </button>


    <div class="dropdown" id="account-dropdown">
        <div class="dropdown-header">
            <div class="account-name">
                <img src="~/images/Avatar-icon.svg" alt="Avatar Portal">
                @{
                    var fullName = User.FindFirst("FullName")?.Value ?? "Användare"; //Chatgpt helped me with this code
                }
                <span>@fullName</span>
            </div>
        </div>
        <div class="dropdown-body">
            <nav class="nav-links">
                <form asp-controller="Auth" asp-action="LogOut" method="post" style="display:inline;">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="nav-link" style="background:none; border:none; padding:0; cursor:pointer;">
                        <i class="fa-duotone fa-solid fa-right-from-bracket"></i>
                        <span>Logout</span>
                    </button>
                </form>
            </nav>
        </div>
    </div>
</div>

