@{

    ViewData["Title"] = "Clients";
}

<div class="main">
    <h1>Clients</h1>
    <button type="submit" class="btn btn-blue btn-main">
        <i class="fa-solid fa-plus"></i> Add Client
    </button>
    <div class="tabs">
        <button class="tab active">ALL <span>[0]</span></button>
        <div class="underline"></div>
    </div>

</div>
