@{

    ViewData["Title"] = "Team Members";
}

<div class="main">
    <h1>Team Members</h1>
    <button type="submit" class="btn btn-blue btn-main">
        <i class="fa-solid fa-plus"></i> Add Member
    </button>
   
    
</div>